/**************************               HOME PAGE                         **************************/

/* fonts and general styling of the page, background color, padding size, etc */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    font-family: "Open Sans";
    margin: 0;
    font-size: 16px;
    background-color: #edc39d;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --border-color: transparent;
    --w-image: 500px;
    --calculate: calc(3 / 2);
}

/* -------------- nav bar (website logo, home, about, menu, contact) ---------- */
header{
    display: grid;
    grid-template-columns: 80px 1fr calc(var(--w-image) * var(--calculate));
    grid-template-rows: 80px;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid var(--border-color);
}
header .logo img{
    width: 80%;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav a{
    color: #000;
    font-weight: 400;
}
header nav ul{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 150px;
    padding-left: 10px;
    text-decoration: underline;
}
header nav{
    border-left: 1px solid var(--border-color);
}
.carousel{
    margin-top: -80px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.carousel .list{
    height: 100%;
    position: relative;
}
.carousel .list::before{
    position: absolute;
    width: var(--w-image);
    height: 100%;
    content: '';
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    z-index: 10;
    pointer-events: none;
}
.carousel .list::after{
    position: absolute;
    top: 50px;
    left: 50px;
    content: '';
    background-color: red;
    width: 400px;
    height: 300px;
    z-index: 10;
    pointer-events: none;
    border-radius: 20px  50px 110px  230px;
    filter: blur(150px);
    opacity: .6;
}
.carousel .list .item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ------ images for the carousel ------------------ */
.carousel .list .item .image{
    width: var(--w-image);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-weight: 500;
}
.carousel .list .item .image img{
    width: 90%;
    filter: drop-shadow(0 50px 50px #9e0c0c55);
    margin-bottom: 100px;
}

/*------------------  main content for the current slide ---------------- */
.carousel .list .item .main-content{
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - calc(var(--w-image) * var(--calculate)));
}
.carousel .list .item .main-content .content{
    padding: 150px 20px  20px 80px;
}
.carousel .list .item .main-content .content h2{
    font-size: 5em;
    font-family: 'Playfair Display';
    margin-bottom: 30px;
}

/* ------------ arrow & purchase button ------------------ */

.carousel .list .item .main-content .content .BuyNow{
    background-color: #c10a09;
    color: #fff;
    padding: 10px  30px;
    font-family: "Playfair Display";
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
}

.arrows{
    position: absolute;
    bottom: 20px;
    width: calc(100% - calc(var(--w-image) * var(--calculate)));
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: 50px;
    justify-content: end;
    gap: 10px;
}
.arrows button{
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    color: #c10a09;
    font-family: "Playfair Display";
    font-size: larger;
    font-weight: bold;
    line-height: 0;
    box-shadow: 0 10px 40px #5555;
    cursor: pointer;
    transition: 0.5s;
}
.arrows button:hover{
    background-color: #eee5;
}

/* carousel and which items are currently next, and active -> makes the current the prev, and the next the current, etc) */ 
.carousel .list .item{
    display: none;
}
.carousel .list .item.active,
.carousel .list .item.other_1,
.carousel .list .item.other_2{
    display: block;
}
.carousel .list .item.active{
    z-index: 2;
}
.carousel .list .item.other_1,
.carousel .list .item.other_2{
    pointer-events: none;
}

/* next content and the buttons to transition to the next carousel */
.carousel .list .item.active .main-content{
    animation: showContent 1s ease-in-out 1 forwards;
}
@keyframes showContent{
    from{
        clip-path: circle(0% at 70% 50%);
    }to{
        clip-path: circle(100% at 70% 50%);
    }
}
.next .item.other_1{
    z-index: 1;
}
.next .item .image img,
.next .item .image figcaption{
    animation: effectNext .5s ease-in-out 1 forwards;
}
@keyframes effectNext{
    from{
        transform: translateX(calc(var(--transform-from)));
    }to{
        transform: translateX(calc(var(--transform-from) - var(--w-image)));
    }
}
.next .item.active .image{
    --transform-from: var(--w-image);
}
.next .item.other_1 .image{
    z-index: 3;
    --transform-from: 0px;
    overflow: hidden;
}
.next .item.other_2 .image{
    z-index: 3;
    --transform-from: calc(var(--w-image) * 2);
}
.arrows{
    z-index: 10;
}

/* next image to transition to next carousel slide */
.prev .list .item .image img,
.prev .list .item .image{
    animation: effectPrev 0.5s ease-in-out 1 forwards;
}
@keyframes effectPrev{
    from{
        transform: translateX(calc(var(--transform-from)));
    }to{
        transform: translateX(calc(var(--transform-from) + var(--w-image)));
    }
}

/* item in the next and previous, hidden and shown depending on its durrent status */
.prev .list .item.active .image{
    --transform-from: calc(var(--w-image) * -1);
    overflow: hidden;
}
.prev .list .item.other_1 .image{
    --transform-from: 0px;
    z-index: 3;
}
.prev .list .item.other_2 .image{
    z-index: 3;
    --transform-from: var(--w-image);
}
.prev .list .item.other_2 .main-content{
    opacity: 0;
}
  
@media screen and (max-width: 1023px){
    :root{
        --calculate: 1;
        --w-image: 400px; 
    }
    .carousel .list .item .main-content .content h2{
        font-size: 5em;
    }
}
@media screen and (max-width: 767px){
    .carousel .list .item .image{
        width: 100%;
        left: 0;
        justify-content: center;
    }
    .carousel .list .item .image{
        color: #fff;
        width: 100%;
        text-align: center;
    }
    .carousel .list .item .main-content .content{
        display: none;
    }
    .arrows{
        left: 50%;
        justify-content: center;
    }
}

 
/**************************               MENU PAGE                         **************************/
/* ------------------------------ Title of the Menu Page (center aligned) -------------------------  */
.title{
    font-family: "Playfair Display";
    text-align: center; 
    margin: 20px 0; 
    font-size: 5em; 
    color: black;
  }
  
  /* ----------------------- Item Products ---------------------------------  */
  
  /* container for the items (grid: 3 colums, center aligned) */
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 20px;
  }
  
  
  .product {
    text-align: center; 
  }
  
  .image-container {
    position: relative; 
  }
  
  /* image sizing */
  .image {
    width: 100%; 
    height: auto; 
    display: block;
  }
  
  /* image shadow for contrast */
  .menu .container .product .image-container .image{
    width: 90%;
    filter: drop-shadow(0 50px 50px #9e0c0c55);
    margin-bottom: 100px;
  }
  
  /* favourites tag (image, posted at selected items, bottom right corner) */
  .favourite {
    position: absolute; 
    bottom: 10%; 
    right: 10%; 
    width: 30%; 
    height: auto; 
    opacity: 0.9; 
  }
  
  /* item name, center aligned to its given item */ 
  .item-name {
    font-weight: 500;
    font-family: "Playfair Display";
    padding: 10px; 
    font-size: 2.1em; 
    color: black;
  }


/**************************               About Us                         **************************/

/* container for title, image and text */
.about-us-container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    border-radius: 5px; 
  }
 
  /* image */
  .about-us-image {
    display: block; 
    margin: 0 auto; 
    width: 80%; 
    height: auto; 
    border-radius: 5px; 
  }
  
  /* description */ 
  .about-us-text {
    font-family: "Open Sans";
    font-size: 1.1em; 
    line-height: 1.6; 
    color: #555;
    margin-top: 20px;
  }

  
/**************************               Contact Page                         **************************/
.contact-container {
    max-width: 800px; /* Max width for the contact container */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    background-color: #cf8543; 
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  }
  
  /* sub headings (Contact Information, Send Us a Message) */
  .contact-info h2, .message-area h2{
    font-family: "Playfair Display";
    font-size: 2em; 
    margin-bottom: 10px; 
  }

/* Contact Information */
  /* Title */
  .contact-info {
    font-size: 1em;
    font-family: "Open Sans";
    margin-bottom: 20px; 
  }
  
  /* Address, Phone Number, Email */
  .contact-info p {
    font-family: "Open Sans";
    font-size: 1.1em; /* Font size for the contact info text */
    color: #555; /* Color of the text */
  }
  

/* Contact Form */
  .contact-form {
    display: flex;
    flex-direction: column; 
  }
  
  .contact-form label {
    font-size: "Open Sans";
    margin-top: 10px; 
  }
  
  /* input forms, black border, same color as background */
  .contact-form input,
  .contact-form textarea {
    font-family: "Open Sans";
    background-color: #edc39d;
    padding: 10px; 
    margin-top: 5px; 
    border: 1px solid black; 
    border-radius: 4px; 
    font-size: 1em; 
  }
  
  /* Input Button */
  .contact-form button {
    background-color: #c10a09;
    color: #fff;
    padding: 10px  30px;
    font-family: "Playfair Display";
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .contact-form button:hover {
    background-color: brown; 
  }